input {
  outline: none;
  border: none;
  font: inherit;
  background-color: transparent;
  flex-grow: 1;
}

input::placeholder {
  color: var(--color-disable);
}

input:hover,
input:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 4px var(--color-primary);
}

input[type="password"] {
  padding-right: 32px;
}

input[data-size="big"] {
  height: 40px;
  font-size: 16px;
  padding: 24px;
}

input[data-size="big"][type="password"] {
  padding-right: 40px;
}

input[data-status="error"] {
  border-color: var(--color-error);
  color: var(--color-error);
}

input[data-status="error"]:hover,
input[data-status="error"]:focus {
  box-shadow: 0 0 4px var(--color-error);
}

input[data-status="success"] {
  border-color: var(--color-success);
}
input[data-status="success"]:hover,
input[data-status="success"]:focus {
  box-shadow: 0 0 4px var(--color-success);
}

input:disabled {
  background-color: var(--color-disable);
  border-color: var(--color-frame);
}
