.ntf {
  position: fixed;
  top: 12px;
  right: 24px;
}

.ntf_item {
  background-color: #ffffff;
  border: 1px solid red;
  padding: 16px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 8px;
  line-height: 16px;
  font-size: 12px;
}

.ntf_item h4 {
  font-size: 14px;
}

.ntf_text {
  grid-column: 0 / -1;
}
